@import './vendors/reset.scss';
@import './config/media.scss';
@import './blocs/newParty.scss';

body {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

form {
  width: 50%;
  min-width: 300px;
  margin-bottom: 20px;

  div {
    label {
      display: block;
    }
  }
}